<!--{% extends "index.html" %} {% block content %}
<h1>This is inherated</h1>
{% endblock %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM page</title>
</head>
<body>
    <h1 style="position: relative; text-align: center;">Auth</h1>
    
    <div style="position: relative; text-align: center;">
        <button type="button" onclick="login.html">Register</button>
        <br>
        <button type="button" onclick="login.html">Login</button>
    </div>
</body>
</html>