<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM page</title>
</head>
<body>
    <h1 style="position: relative; text-align: center;">Hello, {{customer_name}}</h1>
    <h1 style="position: relative; text-align: center;">You have: {{customer_cash}}$</h1>
    
    <div style="position: relative; text-align: center;">
        <a href="{{url_for("bank_views.depositPage", customer_name = customer_name )}}">Deposit</a>
        <a href="{{url_for("bank_views.sendPage", customer_name = customer_name )}}">Send Money</a>
        <a href="{{url_for("bank_views.withdrawPage", customer_name = customer_name )}}">Withdraw</a>
        <a href="{{url_for("bank_views.bonusPage", customer_name = customer_name )}}">Bonus</a>
    </div>

    <script type="text/javascript",
    src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>